{
  "trailingComma": "true",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "parser": "typescript",
  "eslintIntegration": true,
  "endOfLine": "auto",
  "printWidth": 160,
  "bracketSpacing": true
}